* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
section {
  padding: 60px 80px;
}
.flex {
  display: flex;
  gap: 10px;
}
.flex-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.flex-menu ul {
  display: flex;
  gap: 40px;
}
li a {
  text-decoration: none;
  color: oklch(0.25 0 0);
  font-weight: 400;
  font-size: 1em;
}
li a:hover {
  color: rgb(255, 170, 170);
}
header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
li {
  list-style: none;
}
.btn-portfolio {
  background-color: rgb(255, 170, 170);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-portfolio a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.btn-portfolio:hover {
  background-color: rgb(255, 100, 100);
}
.colum1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.colum2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-title {
  font-size: 1em;
  font-weight: 400;
  color: rgb(255, 170, 170);
  text-transform: uppercase;
  letter-spacing: 1px;
}
h1 {
  font-size: 4em;
  font-weight: 800;
  color: oklch(0.25 0 0);
}
#introduction .p1 {
  font-size: 1.2em;
  color: oklch(55.208% 0.00006 271.152);
  line-height: 1.6em;
}
#introduction .p2 {
  font-size: 1em;
  color: oklch(55.208% 0.00006 271.152);
  line-height: 1.6em;
}
.btn-download {
  border: 1px solid rgb(255, 170, 170);
  background-color: transparent;
  padding: 15px 30px;
  border-radius: 5px;
}
.btn-download a {
  text-decoration: none;
  color: oklch(0.25 0 0);
  font-weight: 500;
}
.btn-download:hover {
  background-color: rgb(255, 170, 170);
  color: white;
}
.btn-download a:hover {
  color: white;
}
#introduction img {
  width: 80%;
  border-radius: 10px;
}
